{% extends "wordpress/base.html" %}
{% block title %}Lost Password &lsaquo; TechCorp Solutions &#8212; WordPress{% endblock %}
{% block content %}
<form name="lostpasswordform" id="lostpasswordform" action="/wp-login.php?action=lostpassword" method="post">
  <p style="margin:0 0 16px;color:#50575e">
    Please enter your username or email address. You will receive an email message with instructions on how to reset your password.
  </p>
  <label for="user_login">Username or Email Address</label>
  <input type="text" name="user_login" id="user_login" value="{{ submitted_user }}" autocomplete="username">
  <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Get New Password">
</form>
{% endblock %}
{% block footer %}
<p id="nav"><a href="/wp-login.php">Log in</a></p>
<p id="backtoblog"><a href="/">&#8592; Go to TechCorp Solutions</a></p>
{% endblock %}
