# Local multi-VM lab - Web sensor VM

INGEST_API_URL=http://192.168.56.10:3000
INGEST_SHARED_SECRET=replace_with_the_same_shared_secret_as_the_core

HONEYPOT_IP=192.168.56.12

SENSOR_ID_HTTP=web-local-01
SENSOR_NAME_HTTP=Web Honeypot - Local VM
CLIENT_SLUG=
CLIENT_NAME=
